<div 
	class="product-card{% if animated %} f-scroll-trigger animate--{{ animation_effect }}{% endif %}"
	{% if animated %}
		data-cascade
		style="--animation-order: {{ index }};"
	{% endif %}
>
  <div class="product-card__wrapper">
    <div class="product-card__image-wrapper f-card">
      <div class="f-image" style="--aspect-ratio: 1/1;">
        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
        {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
      </div>
    </div>
    <div class="product-card__info">
      <h3 class="product-card__title h6">
        {{ 'onboarding.product_title' | t }}
      </h3>
      {% render 'price' %}
    </div>
  </div>
</div>
