.f-newsletter .container-full {
  padding: 0;
}
.f-newsletter .bg-image {
  z-index: 1;
  background-size: cover;
}
.f-newsletter__form {
  max-width: 50rem;
}
.f-newsletter__form--boxed {
  padding: 36px 40px 40px;
  border-radius: var(--btn-rounded, 0px);
  z-index: 2;
}
.f-newsletter__form h2 {
  margin-bottom: 12px;
}
.f-newsletter__form .form-control {
  color: var(--color-text-body);
}
@media (min-width: 640px) {
  .f-newsletter__form {
    min-width: 35rem;
  }
}
.f-newsletter .newsletter-form {
  margin-top: 2.4rem;
}
