.f-site-nav {
  --nav-item-px: 2.4rem;
  --nav-item-py: 1rem;
  font-family: var(--font-menu-family);
  margin: -1rem 0;
  color: var(--color-menu-text);
  z-index: 1;
  text-transform: var(--navigation-transform);
}
.f-site-nav--space-xs {
  --nav-item-px: 1.2rem;
}
.f-site-nav--space-sm {
  --nav-item-px: 1.6rem;
}
.f-site-nav--space-md {
  --nav-item-px: 1.8rem;
}
.f-site-nav__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 calc(var(--nav-item-px) / -2);
}
.f-site-nav a[class*=link], .f-site-nav summary[class*=link] {
  line-height: inherit;
}
.f-site-nav a[class*=link] > span:not(.f-site-nav__arrow), .f-site-nav summary[class*=link] > span:not(.f-site-nav__arrow) {
  position: relative;
}
.f-site-nav a[class*=link] > span:not(.f-site-nav__arrow):after, .f-site-nav summary[class*=link] > span:not(.f-site-nav__arrow):after {
  content: "";
  height: 1px;
  width: 0;
  background: currentColor;
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.25s width ease-in-out;
}
.f-site-nav a[class*=link]:focus-visible > span:not(.f-site-nav__arrow):after, .f-site-nav a[class*=link]:hover > span:not(.f-site-nav__arrow):after, .f-site-nav summary[class*=link]:focus-visible > span:not(.f-site-nav__arrow):after, .f-site-nav summary[class*=link]:hover > span:not(.f-site-nav__arrow):after {
  width: 100%;
}
.f-site-nav__item {
  font-weight: var(--font-menu-weight);
  color: var(--color-menu-text);
}
.f-site-nav__item:not(.f-site-nav__item--mega) {
  position: relative;
}
.f-site-nav__item details {
  position: relative;
}
.f-site-nav__item--mega details {
  position: static;
}
.f-site-nav__item details[open] .f-site-nav__dropdown {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
  pointer-events: auto;
  animation: f-fade-in-up 0.35s ease;
}
.f-site-nav__item details[open] > .f-site-nav__link .f-site-nav__arrow svg, .f-site-nav__item details[open] > .f-site-nav__sub-link .f-site-nav__arrow svg {
  transform: rotate(180deg);
}
.f-site-nav__item:focus-within, .f-site-nav__item:hover, .f-site-nav__item--current {
  color: var(--color-menu-text-hover);
}
.f-site-nav__item:focus-within > a[class*=link] > span:not(.f-site-nav__arrow):after, .f-site-nav__item:hover > a[class*=link] > span:not(.f-site-nav__arrow):after, .f-site-nav__item--current > a[class*=link] > span:not(.f-site-nav__arrow):after {
  width: 100%;
}
.f-site-nav__arrow {
  pointer-events: none;
  margin-left: 5px;
}
.f-site-nav__arrow svg {
  width: 1rem;
  height: 1rem;
}
.f-site-nav__sub-link .f-site-nav__arrow {
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
}
.f-site-nav__link {
  display: block;
  padding: var(--nav-item-py) var(--nav-item-px);
  color: currentColor !important;
  line-height: 40px;
}
.f-site-nav__dropdown {
  color: var(--color-menu-subtext, currentColor);
  position: absolute;
  left: 0;
  min-width: 200px;
  background: var(--color-menu-dropdown-bg, #fff);
  border-radius: 5px;
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 12rem 20rem rgba(0, 0, 0, 0.07);
  transition: all 0.25s ease-in-out, transform 0.25s ease-in-out;
  transition-delay: 0.1s;
  transform: translate3d(0, 12px, 0);
  z-index: 11;
  pointer-events: none;
  display: block !important;
}
.f-site-nav__dropdown--mega {
  left: 0;
  width: 100%;
  top: 100%;
  border-radius: 0;
  padding: 3rem 1.6rem;
  overflow: hidden;
  max-height: calc(95vh - var(--f-header-height));
  overflow-y: auto;
}
.f-site-nav__dropdown--mega .f-site-nav__arrow {
  display: none;
}
.f-site-nav__dropdown--mega .f-site-nav__dropdown--level3 {
  position: static;
  opacity: 1;
  visibility: visible;
  box-shadow: none;
  padding: 0;
  transform: none;
}
.f-site-nav__dropdown--mega ul.f-grid {
  gap: 3rem;
  flex: 1;
  min-width: 25rem;
}
.f-site-nav__dropdown--mega ul.f-grid > li > a {
  font-weight: bold;
}
.f-site-nav__dropdown--mega ul.f-grid + .f-site-nav__mega-addon {
  width: auto;
}
.f-site-nav__dropdown--level3 {
  position: relative;
  left: auto;
  padding: 0 1rem;
  min-width: 100%;
  box-shadow: none;
}
.site-header__right .f-site-nav__dropdown--level3 {
  right: auto;
}
.f-site-nav__item:focus-within > .f-site-nav__dropdown, .f-site-nav__item:hover > .f-site-nav__dropdown {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
  pointer-events: auto;
}
.f-site-nav__dropdown-inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.f-site-nav__sub-item:focus-within .f-site-nav__dropdown, .f-site-nav__sub-item:hover .f-site-nav__dropdown {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
  pointer-events: auto;
}
.f-site-nav__sub-item .f-site-nav__arrow {
  right: 5px;
}
.f-site-nav__sub-link {
  padding: 1rem 0.5rem;
  line-height: 2.2rem;
  display: block;
  position: relative;
  transition: 0.3s all;
  color: var(--color-menu-subtext, currentColor);
}
.f-site-nav__sub-link:hover {
  color: var(--color-menu-subtext-hover);
}
.f-site-nav__mega-addon {
  max-width: var(--max-width, 50%);
}
.f-site-nav__mega-addon .f-column {
  min-width: 150px;
  flex: 1;
}
.f-site-nav__mega-addon--banner {
  width: var(--banner-width) !important;
}
.f-site-nav__mega-addon .flickity-button {
  width: 3.6rem;
  height: 3.6rem;
}
.f-site-nav__mega-addon .flickity-button.next {
  right: -12px;
}
.f-site-nav__mega-addon .flickity-button.previous {
  left: -12px;
}
.f-site-nav__mega-addon--wrapper {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-row-gap: 1.5rem;
  margin: 0;
}
.f-site-nav__mega-addon .product-card__title {
  color: currentColor;
}
.f-site-nav__mega-html {
  white-space: initial;
  max-width: 100%;
}

.mobile-nav-toggle {
  flex: 0 0 auto;
  margin-right: 1.56rem;
  margin-left: -1.1rem;
}
.mobile-nav-toggle button, .mobile-nav-toggle button:hover {
  color: currentColor !important;
}
.mobile-nav-toggle svg {
  width: 2.2rem;
  height: 2.2rem;
}

.f-mobile-nav {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.f-mobile-nav .f-drawer__close {
  right: 0;
  top: 0;
  transform: none;
}
.f-mobile-nav .f-drawer__close svg {
  width: 2.2rem;
  height: 2.2rem;
}
.f-mobile-nav__inner {
  padding: 0 1.6rem 2.4rem;
}
.f-mobile-nav__link, .f-mobile-nav__sub-link {
  color: var(--color-text-body);
  display: block;
  position: relative;
  flex-grow: 1;
  line-height: 4.8rem;
  font-weight: var(--font-menu-weight);
}
.f-mobile-nav__item {
  border-bottom: 1px solid var(--color-border);
}
.f-mobile-nav__item, .f-mobile-nav__subitem {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.f-mobile-nav__item.is-selected > .f-mobile-nav__arrow::after, .f-mobile-nav__subitem.is-selected > .f-mobile-nav__arrow::after {
  transform: rotate(1turn);
}
.f-mobile-nav__arrow {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 4.8rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.f-mobile-nav__arrow-icon {
  width: 100%;
  height: calc(100% - 2.4rem);
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 0.1rem solid var(--color-border);
}
.f-mobile-nav__arrow-icon svg {
  position: absolute;
  transition: 0.3s all;
}
.f-mobile-nav__arrow-icon svg:last-child {
  transform: rotate(90deg);
}
.f-mobile-nav collapsible-tab[open] > .f-mobile-nav__arrow svg:first-child {
  transform: rotate(270deg);
}
.f-mobile-nav__dropdown {
  padding-left: 1.6rem;
  transition: 0.3s all;
  display: block;
  width: 100%;
}
.f-mobile-nav__addons {
  padding: 2.4rem 1.6rem 0;
}
.f-mobile-nav__addons-switcher {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.f-mobile-nav__addons-switcher .f-disclosure--plain .f-disclosure__toggle {
  height: auto;
}
.f-mobile-nav__addons-user-link {
  display: flex;
  align-items: center;
}
.f-mobile-nav__addons-user-link svg {
  margin-right: 5px;
}
.f-mobile-nav .site-logo {
  display: block;
  padding: 2.4rem 1.6rem 1.5rem;
  margin: 0;
}
.f-mobile-nav .site-logo .site-logo__img {
  margin: 0;
}
.f-mobile-nav .social-links {
  justify-content: center;
  margin-top: 1.5rem;
}
.f-mobile-nav .social-links a {
  padding-left: 10px;
  padding-right: 10px;
}
.f-mobile-nav .social-links a svg {
  margin-right: 0;
}
.f-mobile-nav .social-links:empty {
  display: none;
}

.no-js .list-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.no-js .menu-drawer {
  position: absolute;
  transform: translate(-100%);
  visibility: hidden;
  z-index: 3;
  left: 0;
  top: 100%;
  width: calc(100vw - 4rem);
  padding: 0;
  overflow-x: hidden;
  background-color: var(--color-bg-1, #fff);
  border: 0.1rem solid var(--color-border);
  padding-bottom: 1.6rem;
}
.no-js .menu-drawer [data-collapsible-icon] {
  right: 3rem;
}
.no-js .header__icon--menu .icon {
  display: block;
  position: absolute;
  opacity: 1;
  transform: scale(1);
  transition: transform 0.15s ease, opacity 0.15s ease;
}
.no-js details:not([open]) > .header__icon--menu .f-icon-close, .no-js details[open] > .header__icon--menu .icon-hamburger {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.8);
}
.no-js .menu-drawer__menu-item--active,
.no-js .menu-drawer__menu-item:hover {
  color: rgb(var(--color-foreground));
  background-color: rgba(var(--color-foreground), 0.04);
}
.no-js .menu-drawer__menu-item {
  padding: 1.1rem 3.2rem;
  text-decoration: none;
}
.no-js .mobile-nav-toggle {
  margin-left: 0;
}
.no-js .menu-drawer__submenu .menu-drawer__menu-item {
  padding: 1.2rem 5.2rem 1.2rem 6rem;
}
.no-js .f-mobile-nav__addons .social-links {
  margin-top: 1.5rem;
}
.no-js .f-mobile-nav__addons .social-links svg {
  width: 1.6rem;
  height: 1.6rem;
}
.no-js .menu-drawer__submenu .menu-drawer__submenu .menu-drawer__menu-item {
  padding-left: 9rem;
}
.no-js .menu-drawer__close-button {
  display: none;
}
.no-js .list-menu__item {
  display: flex;
  align-items: center;
}
.no-js .menu-drawer__navigation > ul > li {
  border-bottom: 0.1rem solid var(--color-border);
}
.no-js .menu-drawer__submenu ul > li {
  border-top: 0.1rem solid var(--color-border);
}
.no-js details[open] > .menu-drawer {
  transform: translate(0);
  visibility: visible;
}
